name: okteto
on:
  schedule:
    - cron: 00 23 * * *
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest  
    steps:
    - uses: actions/checkout@v1
    - name: Install build dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y upgrade
        sudo apt-get -y install wget
        sudo apt-get -y install curl
    - name: Clone source
      run: |
        cd /home/runner
        wget https://github.com/okteto/okteto/releases/download/1.13.4/okteto-Linux-x86_64
        chmod +x ./okteto-Linux-x86_64
        curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.22.0/bin/linux/amd64/kubectl
        chmod +x ./kubectl
        sudo mv ./kubectl /usr/local/bin/kubectl
    - name: go start
      run: |
        /home/runner/okteto-Linux-x86_64 login --token iwjiV6b3ybKRuRkD4aUsqe6xmI7FcJbwiKA4FOffqaGFOAQK
        /home/runner/okteto-Linux-x86_64 namespace thisismqj
        wget https://raw.githubusercontent.com/thisismqj/ok-re/main/okteto.yml
        kubectl replace --force -f /home/runner/okteto.yml     
    - uses: actions/upload-artifact@master
      with:
        name: result
        path: /usr/local/bin/kubectl
